.container {
  display: grid;
  grid-template-columns: 30% auto; /* Divide the container into two columns with a 1:2 ratio */
  gap: 20px; /* Adjust the gap between columns */
  width: 100%; /* Set a maximum width for the container */
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px 0px;
}


.leftColumn {
  display: grid;
  grid-template-rows: auto auto; /* Divide the right column into two sub-columns */
  /* gap: 10px;  */
  height: min-content;
}

.leftColumnGap {
  display: grid;
  grid-template-rows: auto auto; /* Divide the right column into two sub-columns */
  gap: 10px; 
}

.rightColumn {
  display: grid;
  grid-template-rows: auto auto; /* Divide the right column into two sub-columns */
  gap: 10px; /* Adjust the gap between sub-columns */
}

.subColumn {
  background-color: #ffffff;
  border-top: 1px solid #efefef;
  box-shadow: 0px 2px 4px 0px #00000014;
  padding: 30px 20px;
  width: 100%;
}

.subColumnPart {
  background-color: #ffffff;
  border-top: 1px solid #efefef;
  box-shadow: 0px 2px 4px 0px #00000014;
  padding: 20px;
}

.subColumnActive {
  background-color: #ffffff;
  margin: 15px 0px;
  padding: 30px 20px;
  width: 100%;
}

.titlePart {
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  color: #141414;
}

.descriptionPart {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #141414;
  margin-top: 0.5rem;
  margin-bottom: 1.6rem;
}

.timeProgress {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #141414;
}

.timeRemainning {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #a1a1a1;
  margin-left: 0.2rem;
}

.percentProgress {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #141414;
}

.titleChapter {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #a1a1a1;
  margin-bottom: 10px;
}

.titleChapterActive {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #141414;
  margin-bottom: 10px;
}

.timeProgressSecondary {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #a1a1a1;
}

.timeRemainningSecondary {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #a1a1a1;
  margin-left: 0.2rem;
}

.percentProgress {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #141414;
}

.percentProgressSecondary {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #a1a1a1;
}

.progressContainer {
  /* border-bottom: 1px solid #efefef; */
  /* padding-bottom: 25px; */
}

.btnPrimary{
  background-color: #ffd700;
}

.btnSecondary {
  background-color: #D5D5D5;
}

.infoChapterRight {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 0.75rem;
}

.titleChapterRight{
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 10px 0px;
}

.infoUnit{
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px #00000014;
  align-items: center;
  display: flex;
  padding: 10px 15px;
  margin-bottom: 0.7rem;
  justify-content: space-between;
}

.titleLearning{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #141414;
  align-self: center;
}

.timeUnit{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}